.file-upload-container {
    padding: 20px;
    max-width: 500px;
    margin: auto;
    text-align: center;
  }
  
  .file-input {
    margin-top: 10px;
  }
  
  .upload-button {
    margin-left: 10px;
    padding: 5px 15px;
    background-color: #ffd874;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .upload-button:hover {
    background-color: #ac9250;
  }
  
  .response, .error {
    margin-top: 20px;
    text-align: left;
  }
  