.navbar {
  background-color: #F5EEDC;
  padding: 10px 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-link {
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin-right: 15px;
  font-size: 18px;
}

.navbar-link:hover {
  text-decoration: underline;
}

.logo-image {
  height: 40px; /* Adjust this value to make the logo smaller */
  width: auto; /* Maintain the aspect ratio */
}
